@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    height: 4px;
    width: 10px;
    background: rgb(185, 185, 185);              /* width of the entire scrollbar */
  }
  
  
  body::-webkit-scrollbar-thumb:vertical {
    background: #000;
    border-radius: 10px;
  }

  ::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: rgb(185, 185, 185);
}
::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}